<html>
<head>
<title>Display Result</title>
</head>
<body style="text-align: center;">
<h3>Mail type is : <%= type %> ;</h3>
<h3>Weight is : <%= weight %> ;</h3>
<h3>Price is : $ <%=price %> .</h3>
</body>
</html>